#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
version=1.5
Name=GPU-Viewer
Comment=A front-end to glxinfo, vulkaninfo, clinfo and es2_info
Exec=/usr/share/gpu-viewer/GPUViewer
Icon=/usr/share/gpu-viewer/Images/GPU_Viewer.png
Type=Application
Categories=GTK;GNOME;System
Terminal=False
