#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
version=1.2
Name=GPU-Viewer
Comment=A front-end to glxinfo,vulkaninfo and clinfo
Exec=gpu-viewer
Icon=/usr/share/gpu-viewer/Images/GPU_Viewer.png
Type=Application
Categories=GTK;GNOME;System
Terminal=False
