[Desktop Entry]
Type=Application
Version=1.5
Name=GPU-Viewer
GenericName=Utility
Comment=A front-end to glxinfo, vulkaninfo, clinfo and es2_info
Icon=io.github.arunsivaramanneo.GPUViewer
Exec=gpu-viewer
Terminal=false
Categories=System;GTK;GNOME
Keywords=GPU;Graphics;Vulkan;OpenGL;OpenCL;Mesa;AMD;Intel;NVIDIA:Radeon;Geforce
StartupWMClass=GPUViewer.py
