button.text-button {
    min-width: 32px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: bisque;
    border-radius: 9px;
}
button.text-button:hover {
  box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  outline: none;
  background-color: bisque;
}
notebook > header {
  border: none;
  padding: 3px;
  margin: 1px;
  border-radius: 9px;
}
  notebook > header > tabs > tab {
    min-height: 24px;
    min-width: 24px;
    padding: 3px 12px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    margin: 1px;
    border-radius: 9px;
  }
  
  
  notebook > header > tabs > tab:checked {
    color: #1967d2;
    background-color: #EFF5F8;
    box-shadow: 0 5px 2.4px -1px rgba(247, 250, 251, 0.438), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 6px 0 rgba(247, 250, 251, 0.438);
  }
button.combo:only-child {
  border-radius: 9px;
  font-weight: 550;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: inset 0 0 0 2px transparent;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  outline: none;
  border-style: solid;
  border: 2px solid;
}

button.combo:hover {
  box-shadow: 0 6px 3px -1px rgba(0, 0, 0, 0.2), 0 5px 3px 0 rgba(0, 0, 0, 0.14), 0 5px 6px 0 rgba(0, 0, 0, 0.12);
  outline: none;
}

scrollbar > range > trough > slider {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-width: 8px;
  min-height: 8px;
  border: 4px solid transparent;
  border-radius: 9999px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.38);
  box-shadow: none;
  outline: none;
}
entry {
  min-height: 36px;
  padding: 0 8px;
  border-spacing: 6px;
  border-radius: 6px;
  caret-color: currentColor;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  border-style: solid;
  border: 2px solid;
}

entry.search {
  border-radius: 9px;
  border-style: solid;
  border:2px solid;
  border-color: #333333;
  background-color: rgba(0, 0, 0, 0.04);
  background-clip: padding-box;
}
combobox popover {
  margin-top: 2px;
  padding: 0;
  background-color: transparent;
}

popover.background > arrow,
popover.background > contents {
  transition: box-shadow 75ms cubic-bezier(0, 0, 0.2, 1);
  padding: 6px;
  background-color: #FFFFFF;
  background-clip: border-box;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.87);
  border: 2px solid #333333;
}

popover.background modelbutton {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 22px;
  min-width: 56px;
  padding: 3px 9px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  font: initial;
  text-shadow: none;
  box-shadow: none;
  background: none;
}

popover.background modelbutton:hover {
  transition: none;
  background-color: #333333;
  color: white;
}


