/***************
 * Base States *
 ***************/
 
 window{
  border-radius: 16px;
  background-color: #fafbfc;
  color: rgba(0, 0, 0, 0.87);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-style: solid solid none none;
  background-image: none;
}

treeview {
  background-color: #fafbfc;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #333333;
  border-radius: 6px;
}
grid{
  background-color: #fafbfc;
  color: rgba(0, 0, 0, 0.87);
}

box{
  background-color: #fafbfc;
  color: rgba(0, 0, 0, 0.87);
}

textview > border {
  background-color: #fdfdfe;
}

.titlebar box{
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1), color 75ms cubic-bezier(0, 0, 0.2, 1);
  background-image: linear-gradient(#333333,#333333);
  background-color: #333333;
  border-radius: 2px 2px 0 0;
  color: white;
  font-weight: bold;
}


/*************
 * Notebooks *
 *************/
 notebook > header tab {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 24px;
  min-width: 24px;
  padding: 3px 12px;
  border-color: transparent;
  outline: none;
  border-radius: 9px;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

notebook {
  border-style: solid none none none;
  border: 2px solid #333333;
  border-radius: 12px;
}
  notebook > header > tabs > tab {
    min-height: 24px;
    min-width: 24px;
    padding: 3px 12px;
    background-color: #fafbfc;
    color: #85878e;
    font-weight: 600;
  }
  notebook > header > tabs > tab:hover {
    box-shadow: inset 0 -1px alpha(#5294e2,0.6), 0 1px alpha(#5294e2,0.6);
  }
  
  notebook > header > tabs > arrow:hover {
    color: rgba(70, 72, 83, 0.75);
  }

notebook > header tab:checked {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  background-color: #EFF5F8;
  background-clip: padding-box;
  border-color: #dedede;
  color: #1967d2;
  box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

/*************
 * Button *
 *************/

button.text-button {
  color: #464853;
  font-weight: 600;
  background-image: linear-gradient(bisque,bisque);
  border: none;
  border-radius: 9px;
}

button.text-button:hover {
  box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  outline: none;
  background-color: bisque;
}

button.text-button:disabled{
  box-shadow: none;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.38);
  filter: none;
  opacity: 1;
}

button.combo{
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px;
  background-image: none;
}

button.combo:only-child {
  border-radius: 9px;
  font-weight: 550;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: inset 0 0 0 2px #fafbfc;
  background-color: #fafbfc;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  outline: none;
  border-style: solid;
  border: 2px solid;
}
button.combo:hover{
  box-shadow: 0 6px 4px -1px rgba(0, 0, 0, 0.2), 0 6px 3px 0 rgba(0, 0, 0, 0.14), 0 6px 6px 0 rgba(0, 0, 0, 0.12);
}

popover.background > arrow,
popover.background > contents {
  transition: box-shadow 75ms cubic-bezier(0, 0, 0.2, 1);
  padding: 6px;
  background-color: #FFFFFF;
  background-clip: border-box;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.87);
  border: 2px solid #333333;
}

popover.background modelbutton {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 22px;
  min-width: 56px;
  padding: 3px 9px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  font: initial;
  text-shadow: none;
  box-shadow: none;
  background: none;
}

popover.background modelbutton:hover {
  transition: none;
  background-color: #333333;
  color: white;
}

.osd popover.background > arrow,
.osd popover.background > contents, popover.background.touch-selection > arrow,
popover.background.touch-selection > contents, popover.background.magnifier > arrow,
popover.background.magnifier > contents, .osd {
  color: rgba(0, 0, 0, 0.87);
  background-clip: padding-box;
  border-radius: 6px;
  border: none;
}

scrollbar > range > trough > slider {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-width: 8px;
  min-height: 8px;
  border: 4px solid transparent;
  border-radius: 9999px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.38);
  box-shadow: none;
  outline: none;
}

entry {
  min-height: 36px;
  padding: 0 8px;
  border-spacing: 6px;
  border-radius: 6px;
  caret-color: currentColor;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 2px 2.4px -1px rgba(0, 0, 0, 0.2), 0 4px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  border-style: solid;
  border: 2px solid;
}

entry.search {
  border-radius: 9px;
  border-style: solid;
  border:2px solid;
  border-color: #333333;
  background-color: #fafbfc;
  color: rgba(0, 0, 0, 0.87);
  background-clip: padding-box;
}

header{
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 24px;
  min-width: 24px;
  padding: 6px 12px;
  border-width: 1px;
  border-color: transparent;
  background-color: #fafbfc;
  border-style: solid;
  outline: none;
  background-clip: padding-box;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}


columnview.view > header > button,
treeview.view > header > button {
  min-height: 0;
  min-width: 0;
  padding: 3px 6px;
  font-weight: bold;
  color: #6b6d75;
  background-color: #ffffff;
  background-image: none;
  border-style: solid solid solid none;
  border: 2px solid #333333;
  border-radius: 0;
  border-image: linear-gradient(to bottom, #ffffff 20%, rgba(0, 0, 0, 0.11) 20%, rgba(0, 0, 0, 0.11) 80%, #ffffff 80%) 0 1 0 0/0 1px 0 0 stretch;
}

columnview.view:selected,
treeview.view:selected {
  border-radius: 0;
  box-shadow: none;
  border: 0px;
}