@keyframes ripple_effect {
  to {
    background-size: 1000% 1000%;
  }
}

@keyframes header_ripple_effect {
  from {
    background-image: radial-gradient(circle farthest-corner at center, #42A5F5 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, #42A5F5 100%, transparent 0%);
  }
}

* {
  background-clip: padding-box;
  -GtkToolButton-icon-spacing: 0;
  -GtkTextView-error-underline-color: #DD2C00;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkToolItemGroup-expander-size: 11;
  -GtkWidget-text-handle-width: 24;
  -GtkWidget-text-handle-height: 24;
  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;
  outline-style: solid;
  outline-width: 2px;
  outline-color: transparent;
  outline-offset: -4px;
  -gtk-outline-radius: 2px;
  -gtk-secondary-caret-color: #42A5F5;
}

/*************
 * Notebooks *
 *************/
notebook:backdrop label, notebook:backdrop image {
  opacity: 0.8;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

notebook > header {
  border-width: 0;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #fffffa;
  background-clip: border-box;
}

notebook > header.top {
  box-shadow: inset 0 -1px rgba(0, 0.55, 0.55, 0.55);
}

notebook > header.bottom {
  box-shadow: inset 0 1px rgba(0, 0.55, 0.55, 0.55);
}

notebook > header.left {
  box-shadow: inset -1px 0px rgba(0, 0.55, 0.55, 0.55);
}

notebook > header.right {
  box-shadow: inset 1px 0px rgba(0, 0.55, 0.55, 0.55);
}

notebook > header.top tabs tab, notebook > header.bottom tabs tab, notebook > header.left tabs tab, notebook > header.right tabs tab {
  border-width: 0;
}

notebook > header.top tabs tab:checked, notebook > header.top tabs tab:hover, notebook > header.bottom tabs tab:checked, notebook > header.bottom tabs tab:hover, notebook > header.left tabs tab:checked, notebook > header.left tabs tab:hover, notebook > header.right tabs tab:checked, notebook > header.right tabs tab:hover {
  background-color: #fafafa;
  box-shadow: none;
}

notebook > header.top tabs tab label, notebook > header.bottom tabs tab label {
  padding: 4px 6px;
}

notebook > header.left tabs tab label, notebook > header.right tabs tab label {
  padding: 6px 4px;
}

notebook > header.top > tabs {
  margin-bottom: 0px;
  margin-top: 6px;
}

notebook > header.top > tabs > tab {
  border-radius: 6px 6px 0 0;
  margin-left: 6px;
  border-width: 0;
}

notebook > header.top > tabs > tab:hover, notebook > header.top > tabs > tab:checked {
  border: 0;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.15), inset -1px -0px rgba(0, 0, 0, 0.15), inset 1px 1px rgba(0, 0, 0, 0.15), inset -1px -0px rgba(0, 0, 0, 0.15);
}

notebook > header.bottom > tabs {
  margin-top: 0px;
  margin-bottom: 6px;
}

notebook > header.bottom > tabs > tab {
  border-radius: 0 0 6px 6px;
  margin-left: 6px;
  border-width: 0;
}

notebook > header.bottom > tabs > tab:hover, notebook > header.bottom > tabs > tab:checked {
  border: 0;
  box-shadow: inset 1px 0px rgba(0, 0, 0, 0.15), inset -1px -1px rgba(0, 0, 0, 0.15), inset 1px 0px rgba(0, 0, 0, 0.15), inset -1px -1px rgba(0, 0, 0, 0.15);
}

notebook > header.left > tabs {
  margin-left: 6px;
  margin-right: 0px;
}

notebook > header.left > tabs > tab {
  border-radius: 6px 0 0 6px;
  margin-bottom: 6px;
  border-width: 0;
}

notebook > header.left > tabs > tab:hover, notebook > header.left > tabs > tab:checked {
  border: 0;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.15), inset -0px -1px rgba(0, 0, 0, 0.15), inset 1px 1px rgba(0, 0, 0, 0.15), inset -0px -1px rgba(0, 0, 0, 0.15);
}

notebook > header.right > tabs {
  margin-right: 6px;
  margin-left: 0px;
}

notebook > header.right > tabs > tab {
  border-radius: 0px 6px 6px 0px;
  margin-bottom: 6px;
  border-width: 0;
}

notebook > header.right > tabs > tab:hover, notebook > header.right > tabs > tab:checked {
  border: 0;
  box-shadow: inset 0px 1px rgba(0, 0, 0, 0.15), inset -1px -1px rgba(0, 0, 0, 0.15), inset 0px 1px rgba(0, 0, 0, 0.15), inset -1px -1px rgba(0, 0, 0, 0.15);
}

notebook > header.top tabs tab:first-child, notebook > header.bottom tabs tab:first-child {
  margin-left: 0;
}

notebook > header.top > tabs > arrow {
  border-top-style: none;
}

notebook > header.bottom > tabs > arrow {
  border-bottom-style: none;
}

notebook > header.top > tabs > arrow, notebook > header.bottom > tabs > arrow {
  padding-left: 4px;
  padding-right: 4px;
}

notebook > header.top > tabs > arrow.down, notebook > header.bottom > tabs > arrow.down {
  margin-left: -8px;
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

notebook > header.top > tabs > arrow.up, notebook > header.bottom > tabs > arrow.up {
  margin-right: -8px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

notebook > header.left > tabs > arrow {
  border-left-style: none;
}

notebook > header.right > tabs > arrow {
  border-right-style: none;
}

notebook > header.left > tabs > arrow, notebook > header.right > tabs > arrow {
  padding-top: 4px;
  padding-bottom: 4px;
}

notebook > header.left > tabs > arrow.down, notebook > header.right > tabs > arrow.down {
  margin-top: -8px;
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

notebook > header.left > tabs > arrow.up, notebook > header.right > tabs > arrow.up {
  margin-bottom: -8px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

notebook > header > tabs > arrow {
  min-height: 16px;
  min-width: 16px;
  border-radius: 0;
}

notebook > header tab {
  color: rgba(94, 94, 94, 0.75);
  transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  min-height: 24px;
  min-width: 48px;
  padding: 4px 8px;
  outline-offset: -3px;
  border-width: 0;
  font-weight: 500;
}

notebook > header tab:active label, notebook > header tab:checked label {
  color: rgba(94, 14, 0, 0.85);;
}

notebook > header tab button, notebook > header tab button.flat {
  min-height: 0px;
  border-width: 0px;
  padding: 4px 4px;
  color: #5e5e5e;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  background-image: none;
  color: rgba(94, 94, 94, 0.4);
}

notebook > header tab button:hover, notebook > header tab button.flat:hover {
  color: #eb6637;
  background-color: #f2f2f2;
  border-color: rgba(0, 0, 0.55, 0.55);
  box-shadow: none;
  -gtk-icon-effect: highlight;
}

notebook > header tab button:active, notebook > header tab button:checked, notebook > header tab button.flat:active, notebook > header tab button.flat:checked {
  color: #da4816;
  background-color: #e6e6e6;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.15);
  -gtk-icon-effect: highlight;
}

notebook > header tab:hover.reorderable-page {
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
}

notebook > header tab:disabled {
  color: rgba(204, 204, 204, 0.3);
}

notebook > header tab:checked {
  color: #5e5e5e;
}

notebook > header tab:checked label {
  font-weight: bold;
}

notebook > header tab:checked:disabled {
  color: rgba(94, 94, 94, 0.4);
}

notebook > header tab:checked.reorderable-page {
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
}

notebook > header tab:not(:checked) button {
  color: rgba(94, 94, 94, 0.4);
}

notebook > header tab button.flat:last-child {
  margin-left: 6px;
  margin-right: -6px;
}

notebook > header tab button.flat:first-child {
  margin-left: -6px;
  margin-right: 6px;
}

notebook > header.bottom tabs, notebook > header.top tabs {
  padding-left: 8px;
  padding-right: 8px;
}

notebook > header.bottom tabs:not(:only-child):first-child, notebook > header.top tabs:not(:only-child):first-child {
  margin-left: 0;
}

notebook > header.bottom tabs:not(:only-child):last-child, notebook > header.top tabs:not(:only-child):last-child {
  margin-right: 0;
}

notebook > header.bottom tabs tab.reorderable-page, notebook > header.top tabs tab.reorderable-page {
  margin-left: 6px;
  border-style: none solid;
}

notebook > header.left tabs, notebook > header.right tabs {
  padding-top: 8px;
  padding-bottom: 8px;
}

notebook > header.left tabs:not(:only-child):first-child, notebook > header.right tabs:not(:only-child):first-child {
  margin-top: 0;
}

notebook > header.left tabs:not(:only-child):last-child, notebook > header.right tabs:not(:only-child):last-child {
  margin-bottom: 0;
}

notebook > header.left tabs tab.reorderable-page, notebook > header.right tabs tab.reorderable-page {
  margin-left: 6px;
  border-style: solid none;
}

notebook > stack:not(:only-child) {
  background-color: #fafafa;
}

/***********
 * Buttons *
 ***********/
@keyframes needs_attention {
  from {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.001, to(#448AFF), to(transparent));
  }
  to {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(#448AFF), to(transparent));
  }
}


button {
  min-height: 16px;
  min-width: 10px;
  padding: 4px 4px;
  border-radius: 2px;
  font-weight: bold;
  transition: all 270ms cubic-bezier(0, 0, 0.2, 1), box-shadow 180ms cubic-bezier(0, 0, 0.2, 1), background-size 450ms cubic-bezier(0, 0, 0.2, 1), background-image 900ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), inset 0 0 0 9999px transparent;
  background-color: #FFE4B5;
  background-image: radial-gradient(circle farthest-corner at center, transparent 10%, transparent 0%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000% 1000%;
  color: rgba(0, 0, 0, 0.62);
}


button:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23), inset 0 0 0 9999px transparent;
  color: rgba(0, 0, 0, 0.97);
}


button:active {
  transition: all 270ms cubic-bezier(0, 0, 0.2, 1), background-size 0, background-image 0;
  animation: ripple_effect 270ms cubic-bezier(0, 0, 0.2, 1) forwards;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23), inset 0 0 0 9999px alpha(currentColor, 0.15);
  background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.15) 10%, transparent 0%);
  background-size: 0% 0%;
  color: rgba(0, 0, 0, 0.87);
}


button:disabled {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}


button:checked {
  background-color: #42A5F5;
  color: #FFFFFF;
}


button:checked:disabled {
  background-color: rgba(66, 165, 245, 0.3);
  color: rgba(66, 165, 245, 0.5);
}

modelbutton.flat,
.menuitem.button.flat, spinbutton:not(.vertical) button, spinbutton.vertical button, popover.background.menu button,
popover.background button.model, notebook > header > tabs > arrow, scrollbar button, check,
radio, calendar.button, messagedialog.csd .dialog-action-area button, button.sidebar-button, .gedit-search-slider button, popover.messagepopover .popover-action-area button, PanelToplevel > grid > button, .raven .raven-header:not(.top) button, .drop-shadow button, .budgie-session-dialog .linked.horizontal > button, .lightdm-gtk-greeter button, :not(headerbar) .caja-pathbar button, .caja-pathbar :not(headerbar) button, :not(headerbar)
.path-bar button, layouttabbar button, .mate-panel-menu-bar #PanelApplet button, .budgie-panel #tasklist-button, .raven stackswitcher.linked > button, toolbar button, .titlebar:not(headerbar) button:not(.suggested-action):not(.destructive-action),
headerbar button:not(.suggested-action):not(.destructive-action), actionbar > revealer > box button:not(.suggested-action):not(.destructive-action):not(.server-list-button), .app-notification button,
button.flat {
  transition: all 270ms cubic-bezier(0, 0, 0.2, 1), background-size 450ms cubic-bezier(0, 0, 0.2, 1), background-image 900ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: inset 0 0 0 9999px transparent;
  background-color: transparent;
  background-image: radial-gradient(circle farthest-corner at center, transparent 10%, transparent 0%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000% 1000%;
  color: rgba(0, 0, 0, 0.74);
}

/**************
 * Tree Views *
 **************/
treeview.view {
  border-left-color: rgba(0, 0, 0, 0.26);
  border-top-color: rgba(0, 0, 0, 0.12);
}

* {
  -GtkTreeView-horizontal-separator: 3;
  -GtkTreeView-grid-line-width: 1;
  -GtkTreeView-grid-line-pattern: '';
  -GtkTreeView-tree-line-width: 1;
  -GtkTreeView-tree-line-pattern: '';
  -GtkTreeView-expander-size: 18;
}

treeview.view:selected {
  border-left-color: rgba(255, 255, 255, 0.3);
}

treeview.view:hover, treeview.view:active, treeview.view:selected {
  border-radius: 0;
}

treeview.view.separator {
  min-height: 5px;
  color: rgba(0, 0, 0, 0.12);
}

treeview.view:drop(active) {
  border-style: solid none;
  border-width: 1px;
  border-color: #448AFF;
}

treeview.view:drop(active).after {
  border-top-style: none;
}

treeview.view:drop(active).before {
  border-bottom-style: none;
}

treeview.view.expander {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  -gtk-icon-transform: rotate(-45deg);
  color: rgba(0, 0, 0, 0.84);
}

treeview.view.expander:dir(rtl) {
  -gtk-icon-transform: rotate(90deg);
}

treeview.view.expander:checked {
  -gtk-icon-transform: unset;
}

treeview.view.expander:hover, treeview.view.expander:active {
  color: rgba(0, 0, 0, 0.87);
}

treeview.view.expander:disabled {
  color: rgba(0, 0, 0, 0.26);
}

treeview.view.expander:selected {
  color: rgba(255, 255, 255, 0.7);
}

treeview.view.expander:selected:hover, treeview.view.expander:selected:active {
  color: #FFFFFF;
}

treeview.view.expander:selected:disabled {
  color: rgba(255, 255, 255, 0.3);
}

treeview.view.progressbar {
  border-bottom: 4px solid #42A5F5;
  box-shadow: none;
  background-color: transparent;
}

treeview.view.progressbar:selected {
  border-bottom-color: #FFFFFF;
}

treeview.view.trough {
  border-bottom: 4px solid rgba(66, 165, 245, 0.3);
  box-shadow: none;
  background-color: transparent;
}

treeview.view.trough:selected {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

treeview.view header button {
  padding: 2px 6px;
  border-style: none solid solid none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 0;
  background-clip: border-box;
}

treeview.view header button, treeview.view header button:hover, treeview.view header button:active {
  box-shadow: none;
}

treeview.view header button, treeview.view header button:disabled {
  background-color: #FFFFFF;
}

treeview.view header button:last-child {
  border-right-style: none;
}

treeview.view button.dnd,
treeview.view header.button.dnd {
  padding: 2px 6px;
  border-style: none solid solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 0;
  box-shadow: 5px 5px 5px 5px grey;
  background-color: #FFFFFF;
  background-clip: border-box;
  color: #42A5F5;
}

treeview.view acceleditor > label {
  background-color: #42A5F5;
}

.entry-tag, .documents-entry-tag, .photos-entry-tag {
  margin: 4px;
  border-radius: 9999px;
  box-shadow: none;
  background-color: #42A5F5;
  color: #FFFFFF;
}

.entry-tag:hover, .documents-entry-tag:hover, .photos-entry-tag:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/**************
 * ComboBoxes *
 **************/
combobox arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px;
}

combobox decoration,
combobox button.combo:checked {
  transition: none;
}

combobox button.combo cellview:dir(ltr) {
  margin-left: 0px;
}

combobox button.combo cellview:dir(rtl) {
  margin-right: 0px;
}

combobox #gtk-combobox-popup-menu {
  padding: 2px 0;
}

combobox #gtk-combobox-popup-menu menuitem {
  min-height: 28px;
  padding: 0 8px;
}

combobox #gtk-combobox-popup-menu > arrow.top {
  margin-top: -2px;
}

combobox #gtk-combobox-popup-menu > arrow.bottom {
  margin-bottom: -6px;
}

combobox:drop(active) {
  box-shadow: none;
}

/*************************
 * Check and Radio items *
 *************************/
.view.content-view.check:not(list),
.content-view .tile check:not(list) {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -gtk-icon-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.view.content-view.check:not(list):hover, .view.content-view.check:not(list):active,
.content-view .tile check:not(list):hover,
.content-view .tile check:not(list):active {
  -gtk-icon-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.view.content-view.check:not(list),
.content-view .tile check:not(list) {
  -gtk-icon-source: -gtk-scaled(url("assets/selectionmode-checkbox-unchecked.png"), url("assets/selectionmode-checkbox-unchecked@2.png"));
}

.view.content-view.check:not(list):checked,
.content-view .tile check:not(list):checked {
  -gtk-icon-source: -gtk-scaled(url("assets/selectionmode-checkbox-checked.png"), url("assets/selectionmode-checkbox-checked@2.png"));
}

checkbutton.text-button,
radiobutton.text-button {
  padding: 2px;
  outline-offset: 0;
}

checkbutton.text-button label:not(:only-child),
radiobutton.text-button label:not(:only-child) {
  margin: 0 4px;
}

check,
radio {
  min-height: 24px;
  min-width: 24px;
  margin: -10px;
  padding: 10px;
}

check:checked, check:indeterminate,
radio:checked,
radio:indeterminate {
  color: #448AFF;
}

check:checked:disabled, check:indeterminate:disabled,
radio:checked:disabled,
radio:indeterminate:disabled {
  color: rgba(68, 138, 255, 0.5);
}

row:selected check:not(:checked):not(:indeterminate), row:selected
radio:not(:checked):not(:indeterminate) {
  color: rgba(255, 255, 255, 0.7);
}

row:selected check:not(:checked):not(:indeterminate):hover, row:selected check:not(:checked):not(:indeterminate):active, row:selected
radio:not(:checked):not(:indeterminate):hover, row:selected
radio:not(:checked):not(:indeterminate):active {
  color: #FFFFFF;
}

row:selected check:not(:checked):not(:indeterminate):disabled, row:selected
radio:not(:checked):not(:indeterminate):disabled {
  color: rgba(255, 255, 255, 0.3);
}

popover check, popover check:hover, popover check:disabled, popover
radio, popover
radio:hover, popover
radio:disabled {
  box-shadow: none;
  background-image: none;
}

popover check:not(:checked):not(:indeterminate):not(:disabled), popover
radio:not(:checked):not(:indeterminate):not(:disabled) {
  color: rgba(0, 0, 0, 0.54);
}

popover check.left:dir(rtl), popover
radio.left:dir(rtl) {
  margin-left: -16px;
  margin-right: -8px;
}

popover check.right:dir(ltr), popover
radio.right:dir(ltr) {
  margin-left: -8px;
  margin-right: -16px;
}

menu menuitem check, menu menuitem
radio {
  transition: none;
  min-height: 16px;
  min-width: 16px;
  margin: 0;
  padding: 0;
}

menu menuitem check:dir(ltr), menu menuitem
radio:dir(ltr) {
  margin-right: 8px;
}

menu menuitem check:dir(rtl), menu menuitem
radio:dir(rtl) {
  margin-left: 8px;
}

menu menuitem check:not(:checked):not(:indeterminate):not(:disabled), menu menuitem
radio:not(:checked):not(:indeterminate):not(:disabled) {
  color: rgba(0, 0, 0, 0.54);
}

menu menuitem check, menu menuitem check:hover, menu menuitem check:disabled, menu menuitem
radio, menu menuitem
radio:hover, menu menuitem
radio:disabled {
  box-shadow: none;
}


check {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/checkbox-unchecked-symbolic.svg")), -gtk-recolor(url("assets/scalable/checkbox-unchecked-symbolic.symbolic.png")));
}


check:checked {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/checkbox-checked-symbolic.svg")), -gtk-recolor(url("assets/scalable/checkbox-checked-symbolic.symbolic.png")));
}


check:indeterminate {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/checkbox-mixed-symbolic.svg")), -gtk-recolor(url("assets/scalable/checkbox-mixed-symbolic.symbolic.png")));
}


radio {
  border-image-slice: 22;
  border-image-width: 22px;
}


radio {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-unchecked-symbolic.svg")), -gtk-recolor(url("assets/scalable/radio-unchecked-symbolic.symbolic.png")));
}


radio:indeterminate {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-mixed-symbolic.svg")), -gtk-recolor(url("assets/scalable/radio-mixed-symbolic.symbolic.png")));
}


radio {
  border-image-source: -gtk-gradient(radial, center center, 0, center center, 0.001, to(#448AFF), to(transparent));
}


radio:checked:not(:indeterminate) {
  border-image-source: -gtk-gradient(radial, center center, 0, center center, 0.11364, to(#448AFF), to(transparent));
}


radio:checked:not(:indeterminate):disabled {
  border-image-source: -gtk-gradient(radial, center center, 0, center center, 0.11364, to(rgba(68, 138, 255, 0.5)), to(transparent));
}

window.background:not(.csd) > widget > checkbutton > check,
menu menuitem check {
  border-radius: 2px;
  -gtk-outline-radius: 2px;
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-checkbox-unchecked-symbolic.svg")), -gtk-recolor(url("assets/scalable/small-checkbox-unchecked-symbolic.symbolic.png")));
}

window.background:not(.csd) > widget > checkbutton > check:checked,
menu menuitem check:checked {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-checkbox-checked-symbolic.svg")), -gtk-recolor(url("assets/scalable/small-checkbox-checked-symbolic.symbolic.png")));
}

window.background:not(.csd) > widget > checkbutton > check:indeterminate,
menu menuitem check:indeterminate {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-checkbox-mixed-symbolic.svg")), -gtk-recolor(url("assets/scalable/small-checkbox-mixed-symbolic.symbolic.png")));
}

window.background:not(.csd) > widget > radiobutton > radio,
menu menuitem radio {
  border-image: none;
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-radio-unchecked-symbolic.svg")), -gtk-recolor(url("assets/scalable/small-radio-unchecked-symbolic.symbolic.png")));
}

window.background:not(.csd) > widget > radiobutton > radio:checked,
menu menuitem radio:checked {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-radio-checked-symbolic.svg")), -gtk-recolor(url("assets/scalable/small-radio-checked-symbolic.symbolic.png")));
}

window.background:not(.csd) > widget > radiobutton > radio:indeterminate,
menu menuitem radio:indeterminate {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-radio-mixed-symbolic.svg")), -gtk-recolor(url("assets/scalable/small-radio-mixed-symbolic.symbolic.png")));
}

check:not(:checked):active {
  -gtk-icon-transform: rotate(90deg);
}

check:not(:checked):indeterminate:active,
radio:not(:checked):indeterminate:active {
  -gtk-icon-transform: scaleX(-1);
}

check:not(:checked),
radio:not(:checked) {
  transition: all 270ms cubic-bezier(0, 0, 0.2, 1), background-size 450ms cubic-bezier(0, 0, 0.2, 1), background-image 900ms cubic-bezier(0, 0, 0.2, 1), -gtk-icon-transform 0;
}

check:not(:checked):active,
radio:not(:checked):active {
  transition: all 270ms cubic-bezier(0, 0, 0.2, 1), background-size 0, background-image 0, -gtk-icon-transform 0;
}

menu menuitem check:not(:checked), menu menuitem
radio:not(:checked) {
  transition: none;
}

/**********
 * Frames *
 **********/
frame > border,
.frame {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 2px;
  box-shadow: -2px -2px 2px 1px #C0C0C0;
}

frame > border.flat,
.frame.flat,
frame.flat > border {
  border-style: none;
}
